.card-main {
    /* background-color: aliceblue; */
    width: 80%;
    margin-left: 130px;
}

.card-head {
    padding-top: 10px;
    display: flex;
}

.card-head-items>img {
    width: 300px;
    /* height: 250px; */
    border-radius: 10px;
    margin-right: 50px;
}

.card-head-items>h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-head-items>a>button {
    margin-right: 10px;
}

/* CSS */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.card-lyrics>article {
    text-align: center;
    padding-bottom: 20px;
}

.card-lyrics>h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn
{
    margin-left: 270px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    width: 100px;
    border: black solid 1.5px;
}
.btn:hover
{
    margin-left: 270px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    width: 100px;
    border: white;
}





